.center {
    margin: auto;
    width: 70%;
    padding: 10px;
  }
  .center .header {
    text-align: center;
  }
  .center .video {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }